.page {
	margin: 0;

}
.header_main {
	width: 100%;
	height: 900px;
	background-image: url("mask.png");
	background-repeat: no-repeat;
	background-size: 100%;
	display: block;


}
body {
	font-family: "Rubik";
}
.logo {
    float: left;
	padding-top: 15px;
	padding-left: 22px;
	padding-bottom: 21;


}
.menu 
{
	font-size: 16px;
float: top;
}

.menu_item {
	list-style-type: none;
  margin: 0;
  padding-left: 82px;
  overflow: hidden;
  
}
li {
	float: left;
	margin: 0px;
	padding: 0px;
}


li, a {
	display: inline;
  color: white;
  text-align: center;
  padding-top: 20px;
  padding-right: 16px;
  text-decoration: none;
}

.top-nav {
	float: right;
display: table;
margin: 0px;
padding-top:0px;
border: 1px solid rgba(255, 255, 255, 0.1)
}
.eyes {
	width: 75px;
	height:45px;
	background-color: white;
}