.page {
	margin: 0;

}
.header_main {
	width: 100%;
	height: 900px;
	background-image: url("mask.png");
	background-repeat: no-repeat;
	background-size: 100%;
	display: block;


}
body {
	font-family: "Rubik";
}
.logo {
	display: inline;
	float: left;
	padding-top: 15px;
	padding-left: 22px;
	padding-bottom: 21;


}
.menu 
{
	padding-left: 82px;
display: inline;
float: left;
	font-size: 16px;
}

.menu_item {
	display: inline;
	list-style-type: none;
  margin: 0;
  
  overflow: hidden;
  
}
li {
	float: left;
	margin-left: 32px;
	padding-top: 33px;
}


li, a {
  color: white;
  text-align: center;
  text-decoration: none;
}

.flex-container {
  display: flex;
  float: right;
  height: 90px;
  flex-wrap: wrap;
  width: 250px;
  justify-content: flex-end;

}

.flex-container > div {
	
	margin: 0px;
	font-size: 10px;
	text-align: center;
	width: 75px;
	line-height: 45px;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.flex-container div:hover {
 background-color: #ddd;
}
.eyes {
	background-color: white;
text-align: center;

}
.zagolovok {
	padding-top: 167px;
	color: white;
	font-family: Rubik;
font-style: normal;
font-weight: normal;
line-height: 65px;
font-size: 48px;
text-align: center;
letter-spacing: -0.2px;
}

.flex-container2 {
	display: flex;
justify-content: center;
flex-wrap: wrap;
}
.flex-container2 > div {
	
	margin: 0;
	padding: 0;
	font-size: 10px;
	text-align: center;
	width: 360px;
	line-height: 446px;
	border: 1px solid rgba(255, 255, 255, 0.1);
}